<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd" default-lazy-init="false">
	<dubbo:protocol name="dubbo" host="${dubbo.protocol.dubbo.host}"
		port="${dubbo.protocol.dubbo.port}" charset="UTF-8" threadpool="fixed"
		threads="500" />
	<!-- 消费者应用名，不要与提供者一样 -->
	<dubbo:application name="${dubbo.application.name}" />
	<!-- 注册中心地址 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
	<!-- 用户服务接口,check=false表示服务不启动消费者照样能启动 -->
	<dubbo:reference interface="org.osidocker.gw.service.api.HelloService" id="hsAPI" check="false" />
	<dubbo:consumer timeout="6000" check="false" />
</beans>