<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="${viewData.desc}"></h1>
    <ol>  
        <li>List循环：  
            <table border="1">  
              <tr>  
                <th>学籍号</th>  
                <th>学号</th>  
                <th>学生姓名</th>  
                <th>性别</th>  
                <th>年级</th>  
                <th>班级</th>  
                <th>失败原因</th>  
              </tr>  
              <tr  th:each="user : ${viewData.errorList}">  
                <td th:text="${user.studentNumber}">Onions</td>  
                <td th:text="${user.studentSchoolCode}">test@test.com.cn</td>  
                <td th:text="${user.studentName}">yes</td>  
                <td th:text="${user.sex}">yes</td>  
                <td th:text="${user.gradeName}">yes</td>  
                <td th:text="${user.className}">yes</td>  
                <td th:text="${user.errorDesc}">yes</td>  
              </tr>  
            </table>  
        </li>  
    </ol>
</body>
</html>
