<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osidocker.open.micro.draw.mapper.ActivePartakeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.osidocker.open.micro.draw.model.ActivePartake">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="class_id" property="classId" />
        <result column="date" property="date" />
        <result column="visit" property="visit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, class_id AS classId, date, visit
    </sql>

</mapper>
