<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osidocker.open.micro.pay.mapper.OrderMapper">

    <select id="getOrderInfo" resultType="java.util.Map">
        SELECT order_id,apply_id,pay_price,total_price,order_status,`pay_status` FROM system_order WHERE order_id = #{orderId}
        <if test='status !=null  and status !=""'>
            AND pay_status = #{status}
        </if>
    </select>

    <insert id="addSystemOrder" useGeneratedKeys="true" keyProperty="orderId" parameterType="com.osidocker.open.micro.pay.entity.SystemOrder">
        INSERT INTO system_order(order_id,apply_id,total_price,order_status,pay_status,created_date,updated_date)
        VALUE (#{orderId},#{applyId},#{totalPrice},#{orderStatus},#{payStatus},NOW(),NOW())
    </insert>

    <update id="updateOrderStatus">
        UPDATE system_order
        <set>
            <if test="price!=null and price!=''">
              pay_price = pay_price + #{price},
            </if>
            pay_status = #{status}
        </set>
        WHERE order_id = #{orderId}
    </update>

    <update id="orderFailed">
        UPDATE system_order SET pay_status = 'pay_failure' WHERE order_id = #{orderId} and pay_status = 'not_pay'
    </update>

</mapper>